.form {
  width: 95%;
  margin: 5em auto 0;
  /* overflow: hidden; */
  color: #6e7584;
}

.actions {
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2em;
}

.action-forgot a {
  color: #4773d6;
  text-decoration: none;
}

.action-forgot a:hover {
  text-decoration: underline;
}

.submit-button {
  color: #fff;
  font-size: 1.5rem;
  padding: 0.35em 1.8em;
  border-radius: 8px;
  margin-top: 3em;
  background: #6e7584;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
}
