.input-container {
  position: relative;
  width: 100%;
  /* height: 50px; */
  height: 60px;
  margin-bottom: 1rem;
  overflow: hidden;
}

.input-container input {
  font-size: 1rem;
  color: #6e7584;
  width: 100%;
  height: 100%;
  /* padding-top: 20px; */
  padding-top: 25px;
  border: none;
  outline: none;
  background: inherit;
}

.input-container + .input-container {
  margin-top: 2em;
}

.input-container label {
  text-align: left;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  pointer-events: none;
  border-bottom: 1px solid #6e7584;
}

.input-container label::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 3px solid #0096d9;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.input-container label::before {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 3px solid #0096d9;
  transform: translateX(100%);
  transition: transform 0.3s ease;
}

.content-name {
  font-size: 1.2rem;
  position: absolute;
  left: 0;
  bottom: 5px;
  transition: all 0.3s ease;
}

.input-container input:focus + label .content-name,
.input-container input:valid + label .content-name {
  transform: translateY(-155%);
  color: #0096d9;
  font-size: 1rem;
}

.input-container input:focus + label::after,
.input-container input:valid + label::after {
  transform: translatex(-45%);
}

.input-container input:focus + label::before,
.input-container input:valid + label::before {
  transform: translateX(45%);
}
